<template>
  <div id="app">
    <router-view></router-view>
    SOMETHING
  </div>

</template>

<script>
  import UserService from '../service/UserService';

  let userService = new UserService();
  // userService.getUser(12).then((user) => {
  //   console.log(user);
  // });
  export default {
    name: 'ExampleContainer'
  }
</script>