<template>
  <div id="otherPage">
    sadsad
  </div>
</template>

<script>
import HelloWorld from '../component/HelloWorld.vue'

export default {
  name: 'homePage',
  components: {
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
